<div layout="column" layout-padding ng-if="dataLoaded">
    <div layout="row">
        <div>
            <controls></controls>
        </div>
        <div>
            <plotly-bar-chart data="data"></plotly-bar-chart>
            <md-slider flex min="0" max="{{data.xTotal}}" ng-model="data.limit" aria-label="graph limit"></md-slider>
            <div class="md-caption">Use the slider to change the number of resources.</div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row">
        <div class="md-subhead">
            <display-result-set></display-result-set>
        </div>
    </div>
</div>

