<md-toolbar layout="row" class="md-padding">
    <md-button class="md-primary" ng-click="back()" ng-if="country">back</md-button>
    <h5>{{title}}</h5>
    <span flex></span>
    <md-button class="md-primary" ng-click="close()">close</md-button>
</md-toolbar>
<md-content ng-if="!languageData">
    <md-list>
        <md-list-item ng-click="show(items.what, item)" ng-repeat="item in items.list">
            {{item.name}}<!-- <span ng-if="item.count">&nbsp;({{item.count}} languages)</span> -->
        </md-list-item>
    </md-list>
</md-content>


<md-content ng-if="languageData">
    <h4 class="md-title"><span ng-if="country">{{country}}:</span> {{languageData.name}}</h4>
    <p>
        <a href="{{languageData.url}}" target="_blank">{{languageData.url}}</a>
    </p>

    <md-list>
        <span ng-if="languageData.resources['Primary texts']">
            <resource-renderer title="Primary Texts" resources="languageData.resources['Primary texts'].resources"></resource-renderer>
        </span>

        <span ng-if="languageData.resources['Lexical resources']">
            <resource-renderer title="Lexical Resources" resources="languageData.resources['Lexical resources'].resources"></resource-renderer>
        </span>

        <span ng-if="languageData.resources['Language descriptions']">
            <resource-renderer title="Language Descriptions" resources="languageData.resources['Language descriptions'].resources"></resource-renderer>
        </span>

        <span ng-if="languageData.resources['Other resources about the language']">
            <resource-renderer title="Other resources about the language" resources="languageData.resources['Other resources about the language'].resources"></resource-renderer>
        </span>

        <span ng-if="languageData.resources['Other resources in the language']">
            <resource-renderer title="Other resources in the language" resources="languageData.resources['Other resources in the language'].resources"></resource-renderer>
        </span>
    </md-list>
</md-content>

<md-content ng-if="error" layout="column" layout-align="center center">
    <img src="images/error.svg">
    Whatever your language and however you say it it doesn't change the fact that something went wrong!
</md-content>
