<md-toolbar layout="row" class="md-padding">
    <md-button class="md-primary" ng-click="back()" ng-if="country">back</md-button>
    <h5>{{title}}</h5>
    <span flex></span>
    <md-button class="md-primary" ng-click="close()">close</md-button>
</md-toolbar>
<md-content ng-if="!languageData">
    <md-list>
        <md-list-item ng-click="show(items.what, item)" ng-repeat="item in items.list">
            {{item.name}}<span ng-if="item.count">&nbsp;({{item.count}} languages)</span>
        </md-list-item>
    </md-list>
</md-content>


<md-content ng-if="languageData">
    <h4 class="md-title">{{country}}: {{languageData.name}}</h4>
    <p>
        <a href="{{languageData.url}}" target="_blank">{{languageData.url}}</a>
    </p>
    <md-divider></md-divider>
    <span ng-if="languageData.resources['Primary texts']">
        <h4 class="md-title">Primary Texts ({{languageData.resources['Primary texts'].count}})</h4>
        <span ng-repeat="resource in languageData.resources['Primary texts'].resources">
            <p ng-bind-html="resource"></p>
        </span>
    </span>

    <span ng-if="languageData.resources['Lexical resources']">
        <h4 class="md-title">Lexical Resources ({{languageData.resources['Lexical resources'].count}})</h4>
        <span ng-repeat="resource in languageData.resources['Lexical resources'].resources">
            <p ng-bind-html="resource"></p>
        </span>
    </span>

    <span ng-if="languageData.resources['Language descriptions']">
        <h4 class="md-title">Language Descriptions ({{languageData.resources['Language descriptions'].count}})</h4>
        <span ng-repeat="resource in languageData.resources['Language descriptions'].resources">
            <p ng-bind-html="resource"></p>
        </span>
    </span>

    <span ng-if="languageData.resources['Other resources about the language']">
        <h4 class="md-title">Other Resources About the Language ({{languageData.resources['Other resources about the language'].count}})</h4>
        <span ng-repeat="resource in languageData.resources['Other resources about the language'].resources">
            <p ng-bind-html="resource"></p>
        </span>
    </span>
    
</md-content>
