<div layout="row" layout-padding>
    <div layout="column" layout-padding>
        <div class="md-subhead">Filter languages with the following resources</div>
        <md-divider></md-divider>
        <div>
            <div ng-repeat="resource in resourceTypes">
                <md-checkbox ng-click="filterByResource(resource)">
                    {{resource}}
                </md-checkbox>
            </div>
        </div>
    </div>
    <div layout="column" layout-padding>
        <div class="md-subhead">Filter languages by country</div>
        <md-divider></md-divider>
        <div style="position: relative; height: 300px; overflow: scroll;">
            <div ng-repeat="country in countries">
                <md-checkbox ng-click="filterByCountry(country)">
                    {{country.name}}
                </md-checkbox>
            </div>
        </div>
    </div>
    <div>
        <a href="/#/" class="md-button md-primary">View on map</a>
    </div>
</div>
