<div layout="column">
    <md-content>
        <md-card>
            <md-card-content>
                <leaflet width="100%" height="480px"></leaflet>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content>
        <div layout="row" layout-padding>
            <md-content flex="50" layout-padding>
                <h4>Countries</h4>
                <md-autocomplete
                    md-items="item in searchCountries(item)"
                    md-item-text="item.name"
                    md-search-text="item.name"
                    md-selected-item="selected.country"
                    md-min-length="0"
                    placeholder="Browse by Country"
                    md-no-cache="true"
                >
                    <md-item-template>
                        {{item.name}}
                    </md-item-template>
                </md-autocomplete>
            </md-content>    
            <md-content flex="50" layout-padding>
                <h3>Languages</h3>
                <md-autocomplete
                    md-items="item in searchLanguages(item)"
                    md-item-text="item.name"
                    md-search-text="item.name"
                    md-selected-item="selected.language"
                    md-min-length="0"
                    placeholder="Browse by Language"
                    md-no-cache="true"
                >
                    <md-item-template>
                        {{item.name}}
                    </md-item-template>
                </md-autocomplete>
            </md-content>    
        </div> 
    </md-content>
</div>
