<div layout="column" ng-if='datasets.languages'>
    <md-content>
        <md-card>
            <md-card-content>
                <leaflet languages="datasets.languages" ng-if="datasets.languages"></leaflet>
            </md-card-content>
        </md-card>

        <div layout="row" layout-padding>
            <marker-legend class="marker-legend" ng-if='datasets.languages'></marker-legend>
            <div class="" flex='40'>
                <div layout="column">
                    <div>
                        <a href="http://www.dynamicsoflanguage.edu.au/">
                            <img src="http://www.dynamicsoflanguage.edu.au/design/main/images/logo-2x.png"
                            style="width: 70%;">
                        </a>
                    </div>
                    <div class="md-caption">
                        This work was done by 
                        <a href="https://github.com/MLR-au" target="_blank">Marco La Rosa</a>
                        in a project led by 
                        <a href="http://languages-linguistics.unimelb.edu.au/about/staff/dr-nick-thieberger" target="_blank">Nick 
                        Thieberger</a> at the University of Melbourne as part of 
                        <a href="http://www.dynamicsoflanguage.edu.au/" target="_blank">
                            Centre of Excellence for the Dynamics of Language 
                        </a>
                        (ARC grant CE140100041).
                    </div>
                </div>
            </div>
            <div class="help-text" flex='50'>
                This map shows the number of items available in archives participating in the 
                <a href="http://www.language-archives.org/" target="_blank">Open Language Archives Community</a> for any given 
                language. The main aim of these archives is to make available information about the smaller languages of the 
                world. Clearly, major languages have enormous amounts of information available, but for many of the world's 
                languages, as will be seen on this site, little or nothing has been recorded or is available via one of the participating archives.
            </div>
        </div>
    </md-content>
    <md-fab-speed-dial class="md-fab-bottom-right" style="z-index: 10000;">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn" ng-click="toggleSideNav()">
                <i class="material-icons md-48">add</i>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="z-index: 10000;" md-is-open="config.controlsOpen">
    <md-content>
        <div layout="column" layout-padding>
            <md-content flex="50" layout-padding>
                <controls countries="datasets.countries" languages="datasets.languages"></controls>
                <browse countries="datasets.countries" languages="datasets.languages" is-visible="config.controlsOpen"></browse>
            </md-content>    
        </div> 
    </md-content>
</md-sidenav>

