<div layout="column">
    <md-content>
        <md-card>
            <md-card-content>
                <leaflet languages="datasets.languages" ng-if="datasets.languages"></leaflet>
            </md-card-content>
        </md-card>
    </md-content>
    <md-fab-speed-dial class="md-fab-bottom-right" style="z-index: 10000;">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn" ng-click="toggleSideNav()">
                <i class="material-icons md-48">add</i>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="z-index: 10000;" md-is-open="config.controlsOpen">
    <md-content>
        <div layout="column" layout-padding>
            <md-content flex="50" layout-padding>
                <browse countries="datasets.countries" languages="datasets.languages" is-visible="config.controlsOpen"></browse>
            </md-content>    
        </div> 
    </md-content>
</md-sidenav>
