<div layout="column">
    <md-list-item ng-click="toggleItem()">
        {{title}} ({{resources.length}})
    </md-list-item>
    <span ng-hide="config.hide">
        <md-divider></md-divider>
        <search-resources resources="resources" search-results="searchResults"></search-resources>
        <div layout="column">
            <ol class="no-margin" start="{{config.numberFrom}}">
                <li ng-repeat="resource in resourceSet" class="md-padding">
                        <span>
                            <span class="online_indicator" ng-if="resource.is_online">ONLINE</span>
                            <span ng-bind-html="resource.text"></span>
                        </span>
                        <a href="" ng-click="moreInformation(resource.url)">{{resource.name}}</a>
                </li>
            </ol>
        </div>

        <div class="" layout="row" layout-align="center center" ng-if="enablePagination" flex>
            <md-button class="md-primary" ng-click="jumpToStart()"><i class="material-icons">fast_rewind</i></md-button>
            <md-button class="md-primary" ng-click="back()"><i class="material-icons">skip_previous</i></md-button>
            <md-button class="md-primary" ng-click="forward()"><i class="material-icons">skip_next</i></md-button>
            <md-button class="md-primary" ng-click="jumpToEnd()"><i class="material-icons">fast_forward</i></md-button>
        </div>
        <md-divider></md-divider>
    </span>
</div>