.legendOverlay {
    position: fixed;
    top: 3%;
    left: 78%;
    z-index: 10000;
}

md-dialog {
    min-width: 0px;
}


md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 600px !important;
} 

.material-icons {
    line-height: unset;
}

.online_indicator {
    font-size: 12pt;
    font-weight: bold;
    color: #005500;
    background-color: #DDFFDD;
    border: solid 1px #AAEEAA;
    margin: 10px;
}

md-icon.material-icons {
    display: block !important;
}

.no-margin {
    margin: 0;
}
