md-dialog {
    min-width: 0px;
}


md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 45vw !important;
    max-width: 45vw !important;
} 

.material-icons {
    line-height: unset;
}

.online_indicator {
    font-size: 12pt;
    font-weight: bold;
    color: #005500;
    background-color: #DDFFDD;
    border: solid 1px #AAEEAA;
    margin: 5px 0px 5px 0px;
}

md-icon.material-icons {
    display: block !important;
}

.no-margin {
    margin: 0;
}

.item-information-dialog {
    height: 90vw;
    width: 90vw;
    border: 0;
}

.md-dialog-container {
    z-index: 11000;
}

.marker-legend {
    position: absolute;
    z-index: 100;
    top: 75vh;
    left: 1%;
}

.marker-legend-background {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px #ccc;
}

.marker-legend-item {
    width: 40px; 
    border-radius: 4px; 
    margin: 1px 5px 1px 0px;
}

.help-text {
    width: 70vw;
    padding: 10px;
}

.marker-cluster-small {
    background-color: rgba(191, 85, 236, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(191, 85, 236, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(191, 85, 236, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(191, 85, 236, 0.6);
}

.marker-cluster-large {
    background-color: rgba(191, 85, 236, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(191, 85, 236, 0.6);
}
