.legendOverlay {
    position: fixed;
    top: 3%;
    left: 78%;
    z-index: 10000;
}

md-dialog {
    min-width: 0px;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 600px !important;
} 

.material-icons {
    line-height: unset;
}

